<fieldset>
    {% if label %}
        <legend>{{label}}</legend>
    {% endif %}
    {% for class, fieldHtmlChunk in fieldHtmlChunks %}
        <div class="{{class}} form-question form-group">{{ fieldHtmlChunk|raw }}</div>
    {% endfor %}
</fieldset>
